@import '../variables.scss';

// https://www.figma.com/file/GYMv1jsthckOnKmCrdQJY3/%E2%8F%AF-Player-v7-(Guidelines)?node-id=21%3A1943&t=ywdMo875C6kzd7pN-0
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: $roundness-1;
  cursor: pointer;
  &.primary {
    background-color: var(--playkit-primary-color);
    color: var(--playkit-primary-text-contrast-color);
    &:not(.disabled) {
      &:hover {
        background-color: var(--playkit-primary-darker-color);
      }
      &:focus {
        background-color: var(--playkit-primary-brighter-color);
      }
    }
  }
  &.danger {
    background-color: var(--playkit-danger-color);
    color: var(--playkit-danger-text-contrast-color);
    &:not(.disabled) {
      &:hover {
        background-color: var(--playkit-danger-darker-color);
      }
      &:focus {
        background-color: var(--playkit-danger-brighter-color);
      }
    }
  }
  &.translucent {
    background-color: rgba(0, 0, 0, 0.6);
    color: $white;
  }
  &.borderless {
    background-color: transparent;
    color: var(--playkit-tone-1-color);
    &:not(.disabled) {
      &:hover {
        background-color: var(--playkit-tone-4-color);
      }
      &:focus {
        background-color: var(--playkit-tone-6-color);
      }
    }
  }
  &.borderlessTranslucent {
    background-color: transparent;
    color: var(--playkit-tone-1-color);
    &:not(.disabled) {
      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
      &:focus {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  &.secondary {
    background-color: var(--playkit-tone-6-color);
    color: var(--playkit-primary-text-contrast-color);
    &:not(.disabled) {
      &:hover {
        background-color: var(--playkit-tone-5-color);
      }
      &:focus {
        background-color: var(--playkit-tone-5-color);
      }
    }
  }
  &.small {
    height: 24px;
    font-size: 13px;
    line-height: 16px;
    padding: 0 4px;
    &.withIcon {
      padding-right: 8px;
      > span {
        margin-left: 2px;
      }
    }
    &.iconOnly {
      padding: 0 3px;
    }
  }
  &.medium {
    height: 32px;
    font-size: 14px;
    line-height: 17px;
    padding: 0 8px;
    &.withIcon {
      padding-right: 12px;
      > span {
        margin-left: 4px;
      }
    }
    &.iconOnly {
      padding: 0 3px;
    }
  }
  &.large {
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    padding: 0 16px;
    &.withIcon {
      padding-left: 12px;
      > span {
        margin-left: 4px;
      }
    }
    &.iconOnly {
      padding: 0 3px;
    }
  }
  &.disabled {
    background-color: transparent;
    color: var(--playkit-tone-4-color);
    border-color: var(--playkit-tone-4-color);
    cursor: default;
  }
  &.loading {
    cursor: default;
    pointer-events: none;
  }
}
