.text-with-tooltip {
    .text {
        -webkit-box-orient: vertical;
        display: -webkit-box; 
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
}