on:
  workflow_call:

jobs:
  chrome:
    runs-on: ubuntu-22.04
    name: E2E on Chrome
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # - name: Create temporary .npmrc
      #   run: |
      #     echo "@kaltura:registry=https://npm.pkg.github.com" > .npmrc
      #     echo "//npm.pkg.github.com/:_authToken=\${GIT_TOKEN}" >> .npmrc
      - name: Preinstall
        run: npx --yes --prefer-online --registry=https://npm.pkg.github.com --package @kaltura/kaltura-tools@latest kaltura-tools check --root=.
        env:
          GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - name: Remove temporary .npmrc
      #   run: rm -f .npmrc
      - name: Setup JFrog
        uses: jfrog/setup-jfrog-cli@v4
        id: setup-jfrog
        env:
          JF_URL: https://kalturaa.jfrog.io
        with:
          oidc-provider-name: ovp-github-oidc
      - name: Install dependencies
        uses: cypress-io/github-action@v5
        with:
          runTests: false
          install-command: npm install --verbose --legacy-peer-deps
        env:
          GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KALTURA_JFROG_TOKEN: ${{ steps.setup-jfrog.outputs.oidc-token }}
      - name: Build
        run: npm run test:prepare
      - name: E2E on Chrome
        uses: cypress-io/github-action@v5
        with:
          config: video=true
          install: false
          browser: chrome
      - name: Upload video
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-videos
          path: ./cypress/videos
      - name: Upload screenshots
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: ./cypress/screenshots
  firefox:
    runs-on: ubuntu-22.04
    name: E2E on Firefox
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create temporary .npmrc
        run: |
          echo "@kaltura:registry=https://npm.pkg.github.com" > .npmrc
          echo "//npm.pkg.github.com/:_authToken=\${GIT_TOKEN}" >> .npmrc
      - name: Preinstall
        run: npx --yes --prefer-online --registry=https://npm.pkg.github.com --package @kaltura/kaltura-tools@latest kaltura-tools check --root=.
        env:
          GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Remove temporary .npmrc
        run: rm -f .npmrc
      - name: Install dependencies
        uses: cypress-io/github-action@v5
        with:
          build: npx playwright install-deps webkit
          runTests: false
      - name: Build
        run: npm run test:prepare
      - name: E2E on Firefox
        uses: cypress-io/github-action@v5
        with:
          config: video=true
          install: false
          browser: firefox
      - name: Upload video
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-videos
          path: ./cypress/videos
      - name: Upload screenshots
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: ./cypress/screenshots
  edge:
    runs-on: ubuntu-22.04
    name: E2E on Edge
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Create temporary .npmrc
        run: |
          echo "@kaltura:registry=https://npm.pkg.github.com" > .npmrc
          echo "//npm.pkg.github.com/:_authToken=\${GIT_TOKEN}" >> .npmrc
      - name: Preinstall
        run: npx --yes --prefer-online --registry=https://npm.pkg.github.com --package @kaltura/kaltura-tools@latest kaltura-tools check --root=.
        env:
          GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Remove temporary .npmrc
        run: rm -f .npmrc
      - name: Install dependencies
        uses: cypress-io/github-action@v5
        with:
          runTests: false
      - name: Build
        run: yarn run test:prepare
      - name: E2E on Edge
        uses: cypress-io/github-action@v5
        with:
          config: video=true
          install: false
          browser: edge
      - name: Upload video
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-videos
          path: ./cypress/videos
      - name: Upload screenshots
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: ./cypress/screenshots
  # safari:
  #   runs-on: ubuntu-22.04
  #   name: E2E on Safari
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #     - name: Install dependencies
  #       uses: cypress-io/github-action@v5
  #       with:
  #         # install WebKit browser dependencies
  #         build: npx playwright install-deps webkit
  #         runTests: false
  #     - name: Build
  #       run: yarn run test:prepare
  #     - name: E2E on Safari
  #       uses: cypress-io/github-action@v5
  #       with:
  #         config: video=true
  #         install: false
  #         browser: webkit
  #     - name: Upload screenshots
  #       uses: actions/upload-artifact@v4
  #       if: failure()
  #       with:
  #         name: cypress-screenshots
  #         path: ./cypress/screenshots
  #     - name: Upload video
  #       uses: actions/upload-artifact@v4
  #       if: failure()
  #       with:
  #         name: cypress-videos
  #         path: ./cypress/videos
